@using System.Globalization

<div
class="mb-7 pt-3 pb-2 px-3 relative @(_hasFocus ? "border-b-2 border-orange-500" : "border-b border-white") hover:border-orange-500">

    <label class="absolute bottom-8 text-xs @(Value == default ? "text-transparent" : "text-gray-300")">@Label</label>

    @* Why onchange? With @bind-value there was an issue similar to this one
    https://github.com/dotnet/aspnetcore/issues/38471 *@
    <input value="@GetDate()" @onchange="StoreDate" @onfocus="() => _hasFocus = true" @onblur="() => _hasFocus = false"
    class="w-full pt-2 focus:outline-none text-gray-200 placeholder-gray-400 bg-transparent" type="datetime-local"
    placeholder="@Label" step="1">

    <span
    class="right-2 top-4 text-2xl font-bold absolute mdi mdi-calendar-month-outline text-gray-200 bg-cyan-900 pointer-events-none"></span>

</div>

@code {

    private bool _hasFocus;

    [Parameter]
    public DateTime Value { get; set; }

    [Parameter]
    public EventCallback<DateTime> ValueChanged { get; set; }

    [Parameter]
    public string Label { get; set; } = default!;

    protected override void OnParametersSet()
    {
        if (Value.Kind != DateTimeKind.Utc)
        {
            Value = DateTime.SpecifyKind(Value, DateTimeKind.Utc);

            if (ValueChanged.HasDelegate)
                ValueChanged.InvokeAsync(Value);
        }
    }

    private string GetDate()
    {
        // To prevent warning:
        // > The specified value "2020-01-01T00:00:00" does not conform to the required format.
        // > The format is "yyyy-MM-ddThh:mm" followed by optional ":ss" or ":ss.SSS".
        if (Value.Second != 0)
            return Value.ToString("yyyy-MM-ddTHH:mm:ss");

        else
            return Value.ToString("yyyy-MM-ddTHH:mm");
    }

    private void StoreDate(ChangeEventArgs e)
    {
        var rawValue = (string)e.Value!;
        var hasChanged = false;

        if (rawValue.Length == 16)
        {
            Value = DateTime.ParseExact(rawValue, "yyyy-MM-ddTHH:mm", CultureInfo.InvariantCulture);
            hasChanged = true;
        }

        else if (rawValue.Length == 19)
        {
            Value = DateTime.ParseExact(rawValue, "yyyy-MM-ddTHH:mm:ss", CultureInfo.InvariantCulture);
            hasChanged = true;
        }

        if (hasChanged && ValueChanged.HasDelegate)
            ValueChanged.InvokeAsync(Value);
    }
}