@inject ISnackbar Snackbar

<MudTooltip Text="About">
    <MudIconButton OnClick="OpenCatalogAboutModal" Icon="@Icons.Material.Outlined.Info" />
</MudTooltip>

<UIDialog @bind-IsVisible="_isCatalogAboutDialogOpen" MaxWidth="MaxWidth.ExtraSmall">

    <TitleContent>
        <MudText Typo="Typo.h6">
            About
        </MudText>
    </TitleContent>

    <DialogContent>
        @if (_extensionDescriptions is null || !_extensionDescriptions.Any())
        {
            <div class="h-full flex justify-center items-center text-gray-300">
                <span class="mr-3 text-4xl mdi mdi-pac-man"></span>
                <span>no data available</span>
            </div>
        }
        else
        {
            <div class="flex flex-col gap-3">
                @foreach(var (infoUrl, description) in _extensionDescriptions)
                {
                    if (description is not null)
                    {
                        <h1 class="uppercase tracking-widest p-1 mt-2 border-b border-gray-200 text-cyan-700">@description.Type</h1>

                        <div class="flex flex-col p-1 gap-2">

                            <div>@description.Version</div>

                            @if (!string.IsNullOrWhiteSpace(description.Description))
                            {
                                <span class="text-sm">@description.Description</span>
                            }

                            @if (!string.IsNullOrWhiteSpace(infoUrl))
                            {
                                <a class="text-cyan-700 text-sm hover:text-orange-500 pr-1" href="@infoUrl"
                                    target="_blank">
                                    <span class="mdi mdi-information-outline text-lg mr-1"></span>
                                    <span>Info Website</span>
                                </a>
                            }

                            <div class="flex justify-between">

                                @if (!string.IsNullOrWhiteSpace(description.ProjectUrl))
                                {
                                    <a class="text-cyan-700 text-sm hover:text-orange-500" href="@description.ProjectUrl"
                                        target="_blank">
                                        <span class="mdi mdi-web text-lg mr-1"></span>
                                        <span>Project Website</span>
                                    </a>
                                }

                                @if (!string.IsNullOrWhiteSpace(description.RepositoryUrl))
                                {
                                    <a class="text-cyan-700 text-sm hover:text-orange-500" href="@description.RepositoryUrl"
                                        target="_blank">
                                        <span class="mdi mdi-source-branch text-lg mr-1"></span>
                                        <span>Source Repository</span>
                                    </a>
                                }

                            </div>
                        </div>
                    }
                }
            </div>
        }
    </DialogContent>
</UIDialog>

@code {
    private bool _isCatalogAboutDialogOpen;
    private IReadOnlyList<(string?, ExtensionDescription?)>? _extensionDescriptions;

    [Parameter]
    public ResourceCatalogViewModel Catalog { get; set; } = default!;

    [Inject]
    public AppState AppState { get; set; } = default!;

    [Inject]
    public INexusClient Client { get; set; } = default!;

    private void OpenCatalogAboutModal()
    {
        _isCatalogAboutDialogOpen = true;

        _ = Task.Run(async () =>
        {
            try
            {
                var dataSourceTypes = Catalog.Info.PipelineInfo.Types;
                var extensionDescriptions = await Client.Sources.GetDescriptionsAsync();

                _extensionDescriptions = Catalog.Info.PipelineInfo.Types.Select((type, i) =>
                {
                    var infoUrl = Catalog.Info.PipelineInfo.InfoUrls[i];
                    var extensionDescription = extensionDescriptions.FirstOrDefault(description => description.Type == type);

                    return (infoUrl, extensionDescription);
                }).ToArray();
            }
            catch (Exception ex)
            {
                AppState.AddError(ex, Snackbar);
            }

            StateHasChanged();
        });
    }
}